<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Diagnostics_Enabled</key>
	<integer>0</integer>
	<key>Disks_MenubarItems</key>
	<array>
		<string>56A8276D-4AB7-3BFE-A92D-28FB2318E486-TNS5193TGXMPLH</string>
	</array>
	<key>DropdownShowLauncher</key>
	<integer>1</integer>
	<key>DropdownTheme</key>
	<integer>1</integer>
	<key>FanControl_Sets</key>
	<array>
		<dict>
			<key>name</key>
			<string>Medium</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>4100</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>893C1EEC-0DE4-4AD1-9A88-9E0D619615A9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>High</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>6200</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>875219C9-1482-47A5-A52B-20AF7B9AB187</string>
		</dict>
	</array>
	<key>MenubarSkinColor</key>
	<integer>0</integer>
	<key>MigratedExtras_5.0</key>
	<true/>
	<key>MigratedExtras_5.1</key>
	<true/>
	<key>MigratedExtras_5.11</key>
	<true/>
	<key>Network_GraphMode</key>
	<integer>0</integer>
	<key>Sensors_MenubarItems</key>
	<array>
		<string>TCXC</string>
	</array>
	<key>StatusItems-Order</key>
	<array>
		<integer>5</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>-1</integer>
		<integer>6</integer>
		<integer>7</integer>
	</array>
	<key>Time_TextSize</key>
	<integer>14</integer>
	<key>_mac_id</key>
	<string>f0643882617d55de56df528881b1000d</string>
</dict>
</plist>
